@font-face {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  src: url(../fonts/Helvetica.ttf);
}
body {
  font-family: Helvetica, sans-serif;
}

.page {
  overflow: hidden;
}

.section.hero {
  position: relative;
}
.section.bg-yellow {
  background-color: #dce600;
  position: relative;
}

.section.bg-pink {
  background-color: #ff2576;
  margin-top: 60px;
  padding: 40px 0;
  position: relative;
}
.arrows-1 {
  position: absolute;
  left: 0;
  bottom: -85px;
  z-index: 1;
}

.arrows-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.header {
  margin-bottom: 100px;
  z-index: 3;
}

.logo {
  flex-grow: 1;
}
.navbar {
  padding: 0;
  z-index: 2;
}
.nav {
  flex-grow: 2;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-right: 35px;
  transition: all 0.1s linear;
  cursor: pointer;
}

.nav-link:hover {
  color: #dce602;
}
.menu-toggler:focus {
  box-shadow: none;
}
.donate-btn {
  display: inline-block;
  background-color: #dce600;
  padding: 40px 55px;
  flex-grow: 0.1;
  transition: all 0.1s linear;
}

.donate-btn:hover {
  background-color: #bec802;
}
.donate-btn a {
  text-decoration: none;
  color: #0c2e46;
  font-weight: 400;
  font-size: 16px;
}

.menu-icon {
  border: none;
  padding: auto;
}

.main-title {
  font-weight: 400;
  font-size: 77px;
  color: #fff;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  z-index: 3;
}

.main-subtitle {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 27px;
  z-index: 3;
}

.hero-btn {
  display: inline-block;
  background-color: #00a8ff;
  padding: 15px 45px;
  margin: 35px auto 160px auto;
  text-align: center;
  z-index: 3;
  transition: all 0.1s linear;
}

.hero-btn:hover {
  background-color: #0085ca;
}

.hero-btn a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.achievements {
  background-color: #fff;
  min-width: 995px;
  padding: 30px;
  position: absolute;
  top: 690px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.achievements__item {
  margin-right: 40px;
  border-right: 2px solid #0c2e46;
  padding-right: 40px;
}
.achievements__item:last-child {
  margin-right: 0;
  border: 0;
  padding-right: 0;
}
.achievements__img {
  margin-right: 15px;
}
.achievements__text .color-text {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.achievements__item-0 .color-text {
  color: #00b77b;
}

.achievements__item-1 .color-text {
  color: #ff2576;
}

.achievements__item-2 .color-text {
  color: #5b31b9;
}

.achievements__text .black-text {
  color: #0c2e46;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.do-more {
  padding: 170px 0 80px 0;
}

.do-more__title {
  color: #0c2e46;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.do-more__text {
  color: #0c2e46;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  margin-bottom: 40px;
}

.do-more__link {
  text-decoration: none;
  color: #0c2e46;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  padding: 15px 35px;
  transition: all 0.1s linear;
}

.do-more__link:hover {
  background-color: #fbffaa;
  color: #0c2e46;
}

.donations {
  padding-bottom: 190px;
}
.donations__img {
  background-color: #0c2e46;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  position: relative;
}

.donations__img img {
  position: absolute;
  top: 25%;
  left: 25%;
}

.donations__link {
  margin-top: 20px;
}

.donations__link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #0c2e46;
}

.donations__link a:hover {
  text-decoration: underline;
}

.carousel {
  max-width: 780px;
  height: auto;
  margin: -85px auto 40px auto;
}

.carousel-item {
  position: relative;
}

.carousel-link {
  background-color: #fff;
  padding: 15px 45px;
  position: absolute;
  bottom: 45px;
  left: 0;
}

.carousel-link a {
  text-decoration: none;
  color: #0c2e46;
  font-size: 16px;
  font-weight: 400;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #dce600;
  width: 50px;
  height: 50px;
  top: 50%;
  bottom: 50%;
}

.carousel-control-prev {
  left: -25px;
}

.carousel-control-next {
  right: -25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #0c2e46;
}

.frame-layout-0 header h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #0c2e46;
  margin-bottom: 40px;
}

.stories {
  margin-bottom: 60px;
}

.stories__card {
  border: 0;
  border-radius: 0;
  margin-left: 40px;
}

.story-img {
  border-radius: 0;
}

.stories__card:last-child {
  margin-right: 0;
}

.stories__card .card-title {
  font-size: 18px;
  font-weight: 400;
}

.stories__card .card-text {
  font-size: 14px;
  font-weight: 400;
  color: #2d2d2d;
}

.stories__card-0 {
  border-bottom: 5px solid #ff2576;
}

.stories__card-1 {
  border-bottom: 5px solid #5b31b9;
}

.stories__card-2 {
  border-bottom: 5px solid #ff5300;
}

.stories__card-0 .card-title {
  color: #ff2576;
}

.stories__card-1 .card-title {
  color: #5b31b9;
}
.stories__card-2 .card-title {
  color: #ff5300;
}

.story__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.story__link-0 {
  color: #ff2576;
}

.story__link-1 {
  color: #5b31b9;
}

.story__link-2 {
  color: #ff5300;
}

.read-all {
  padding: 15px 40px;
  background-color: #00a8ff;
  max-width: 177px;
  margin-right: 55px;
}

.donate-now {
  padding: 15px 40px;
  background-color: #dce600;
  max-width: 195px;
  z-index: 3;
}

.read-all a {
  margin-left: 10px;
}

.read-all a,
.donate-now a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #0c2e46;
  text-transform: uppercase;
  line-height: 1;
}

.get-in-touch h3 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
  z-index: 3;
}

.get-in-touch ul {
  list-style: none;
  margin-bottom: 30px;
  z-index: 3;
}

.get-in-touch ul li {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 7px;
}

.get-in-touch ul li a {
  color: #fff;
}

.get-in-touch__btn {
  max-width: 160px;
  background-color: #fff;
  padding: 13px 39px;
  z-index: 3;
}

.get-in-touch__btn a {
  text-decoration: none;
  color: #0c2e46;
  font-size: 16px;
  font-weight: 400;
}

.get-in-touch-1 {
  position: absolute;
  top: 10px;
  left: -113px;
  z-index: 1;
}

.get-in-touch-2 {
  position: absolute;
  bottom: 0;
  left: 108px;
  z-index: 1;
}
.get-in-touch-3 {
  position: absolute;
  top: -142px;
  right: 57px;
  z-index: 1;
}
.get-in-touch-4 {
  position: absolute;
  top: -6px;
  right: -127px;
  z-index: 1;
}

.footer {
  background-color: #0c2e46;
  padding: 100px 0 50px 0;
}

.footer__list {
  min-height: 140px;
  list-style: none;
  border-left: 1px solid #fff;
}

.footer__link {
  margin-bottom: 7px;
}

.footer__link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-and-logo {
  min-height: 140px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.socials {
  padding-left: 32px;
  margin-bottom: 50px;
}

.socials img {
  margin-right: 5px;
}

.footer__logo {
  padding-left: 32px;
}

.registration {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 30px;
}

@media (max-width: 1399px) {
  .socials {
    padding-left: 22px;
  }
  .footer__logo {
    padding-left: 18px;
  }
  .footer__social-and-logo {
    border-right: 0;
  }
}

@media (max-width: 1199px) {
  .socials {
    padding: 0 10px;
  }
  .footer__logo {
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  .section.hero {
    background-position-x: -200px;
  }
  .arrows-1,
  .arrows-2 {
    display: none;
  }
  .main-title {
    font-size: 63px;
  }

  .achievements {
    min-width: 860px;
  }

  .achievements__text .color-text {
    font-size: 50px;
  }
  .achievements__text .black-text {
    font-size: 11px;
  }

  .achievements__img img {
    width: 75px;
  }

  .achievements__item-0 .achievements__img img {
    width: 50px;
  }

  .do-more {
    padding: 95px 0 80px 0;
  }

  .do-more__title {
    font-size: 52px;
  }

  .do-more__text {
    font-size: 15px;
  }

  .donations__img {
    width: 170px;
    height: 170px;
  }

  .donations__img img {
    width: 82px;
  }

  .donations__link a {
    font-size: 17px;
  }

  .stories__card {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .stories__card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .section.hero {
    background-position-x: -375px;
  }
  .main-title {
    font-size: 40px;
  }
  .main-subtitle {
    font-size: 16px;
  }
  .achievements {
    top: 585px;
    padding: 25px;
    min-width: 560px;
  }
  .achievements__item {
    margin-right: 20px;
    padding-right: 20px;
  }
  .achievements__img img {
    width: 53px;
  }
  .achievements__item-0 .achievements__img img {
    width: 34px;
  }
  .achievements__text .color-text {
    font-size: 32px;
  }
  .achievements__text .black-text {
    font-size: 8px;
  }
  .do-more {
    flex-direction: column;
  }
  .donations__img {
    width: 125px;
    height: 125px;
  }
  .donations__img img {
    width: 60px;
  }
  .donations__link a {
    font-size: 13px;
  }
  .get-in-touch-3 {
    display: none;
  }
  .get-in-touch-2 {
    display: none;
  }
}

@media (max-width: 575px) {
  .section.hero {
    background-position-x: -517px;
  }
  .menu-icon {
    margin-right: 15px;
  }
  .main-title {
    font-size: 32px;
    margin-top: 65px;
  }
  .main-subtitle {
    font-size: 15px;
    margin-top: 12px;
  }

  .hero-btn {
    margin: 12px auto 173px auto;
  }
  .achievements {
    padding: 15px;
    min-width: 430px;
  }
  .achievements__item-0 .achievements__img img {
    width: 34px;
  }
  .achievements__img {
    margin-right: 9px;
  }
  .achievements__img img {
    width: 51px;
  }
  .achievements__text .color-text {
    font-size: 25px;
  }
  .achievements__text .black-text {
    font-size: 7px;
    margin-left: 3px;
  }
  .do-more {
    padding: 60px 0 80px 0;
  }
  .do-more__title {
    font-size: 40px;
  }
  .donations {
    flex-direction: column;
  }
  .dontions__item {
    margin-bottom: 35px;
  }
  .donations__img {
    width: 250px;
    height: 250px;
  }
  .donations__img img {
    width: 120px;
  }
  .donations__link a {
    font-size: 20px;
  }
  .carousel-control-next {
    right: -8px;
  }
  .carousel-control-prev {
    left: -8px;
  }
  .stories__card {
    width: 100%;
  }
  .read-all {
    margin-right: 15px;
  }
  .get-in-touch-4 {
    display: none;
  }
  .get-in-touch h3 {
    font-size: 47px;
  }
  .get-in-touch ul li {
    font-size: 15px;
  }
}

@media (max-width: 415px) {
  .achievements {
    flex-direction: column;
    align-items: center;
    min-width: 315px;
    top: 740px;
  }
  .achievements__item {
    margin-right: 0;
    border-right: 0;
    border-bottom: 2px solid #0c2e46;
    padding-right: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .achievements__item-0 .achievements__img img {
    width: 55px;
    margin-left: 12px;
  }
  .achievements__img {
    margin-right: 0;
  }
  .achievements__img img {
    width: 71px;
  }
  .achievements__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
  }
  .achievements__text .color-text {
    font-size: 31px;
    text-align: center;
  }
  .achievements__text .black-text {
    font-size: 9px;
  }
  .do-more {
    padding: 325px 0 80px 0;
  }
  .story__buttons {
    flex-direction: column;
    align-items: center;
  }

  .read-all {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .get-in-touch h3 {
    font-size: 36px;
  }

  .socials {
    padding-left: 30px;
  }
  .footer__logo {
    padding-left: 30px;
  }
}
